name: build

on: [push, pull_request]

jobs:
  linux:
    timeout-minutes: 60
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        compiler:
          - pkg: g++-9
            exe: g++-9
          - pkg: clang-9
            exe: clang++-9
        mode: ["", "-D CI_MODE:STRING=ASAN", "-D CI_MODE:STRING=UBSAN", "-D CI_MODE:STRING=THSAN", "-D CI_MODE:STRING=MUTATION"]

    steps:
    - uses: actions/checkout@v2
    - name: Install compiler
      run: |
        sudo apt-get update -y
        sudo apt install -y ${{ matrix.compiler.pkg }}
        sudo apt-get install -y libubsan0
    - name: Create Build folder
      run: mkdir -p build
    - name: Compile tests
      working-directory: build
      env:
        CXX: ${{ matrix.compiler.exe }}
      run: |
        cmake -DCMAKE_BUILD_TYPE:STRING=MinSizeRel -DFETCH_3RD_PARTY_REPOS:BOOL=TRUE ${{ matrix.mode }} ..
        make -j2
    - name: Run tests
      working-directory: build
      env:
        CTEST_OUTPUT_ON_FAILURE: 1
      run: ctest --timeout 30 -C Debug -j2 --output-on-failure

  macos:
    timeout-minutes: 60
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v1
    - name: Create Build folder
      run: mkdir -p build
    - name: Compile tests
      working-directory: build
      run: |
        cmake -DCMAKE_BUILD_TYPE:STRING=MinSizeRel -DFETCH_3RD_PARTY_REPOS=ON ..
        make -j2
